/*fixes navBar covering h1 */
body { 
	padding-top: 60px; 
}
/* fixes button position for login page form */	
.login_form{
	padding-bottom: 20px;
}
/*Fixes sign out button on nav bar */
.btn-bar {
  padding:10px;
  margin-right:27px;
}

/*Add shadow effect */
.navbar{
	-webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}
/*fix logo */
.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand>img {

	padding-right:5px;
    height: auto;
    width: auto;
    max-height: 52px;
    max-width: 150px;
}
.bg-company-red {
    background-color: black;
}
  .navbar-toggle, .icon-bar {
    border:1px solid red;
}