/*fixes navBar covering h1 */
body { 
	padding-top: 60px; 
}
/* fixes button position for login page form */	
.login_form{
	padding-bottom: 20px;
}
/*Fixes sign out button on nav bar */
.btn-logout {
  padding:10px;
  margin-right:27px;
}
/*fix logo */

.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand>img {

	padding-right:5px;
    height: auto;
    width: auto;
    max-height: 55px;
    max-width: 150px;
}