<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<!-- Insert Header sources from template -->
	<head th:replace="template :: sources">
		<title  id="pageTitle">Sell your item</title>
	</head>
	<body>
		<div class="container-fluid">
			<!-- insert navBar from template -->
			<div th:replace="template :: navBar"></div>
			<h1>What are you selling ? </h1>
			<!-- insert item form  -->
			<form th:replace="template :: itemForm(action='add_item')" ></form>			  
		    <!-- Insert footer template -->
		    <div th:replace="template :: footer"></div>
		</div>	     
	</body>
</html>