<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<!-- Insert Header sources from template -->
	<head th:replace="template :: sources">
		<title  id="pageTitle">Shop by Categories</title>
	</head>
	<body>
		<div class="container-fluid">
			<!-- insert navBar from template -->
			<div th:replace="template :: navBar"></div>
			<h1 sec:authorize="hasRole('USER')">Shop by Categories</h1>
			<h1 sec:authorize="hasRole('ADMIN')">Manage Categories</h1>
			<table  class="table table-striped ">
				<tr th:each ="category : ${categorys}">
					<td><a class="btn btn-info btn-lg btn-block" th:href="@{/item-by-category/{id}(id=${category.id})}" th:text="${category.type}" >click me!</a></td>
					<td sec:authorize="hasRole('ADMIN')"><a class="btn btn-warning" th:href="@{/edit_category/{id}(id=${category.id})}" >Edit</a></td>
					<td sec:authorize="hasRole('ADMIN')"><a class="btn btn-danger"  th:href="@{/delete_category/{id}(id=${category.id})}">delete</a></td>
				</tr>
			</table>
	
			<!-- Insert footer template -->
			<div th:replace="template :: footer"></div>
		</div>
	</body>
</html>