<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Insert Header sources from template -->
<head th:replace="template :: sources">
	<title  id="pageTitle">nice!</title>
</head>
	<body>
	<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="">Page 1</a>
                </li>
                <li><a href="">Page 2</a>
                </li>
                <li><a href="">Page 3</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>





	
		<h1>Excelente!</h1>     
		 <!-- Insert footer template -->
		<div th:replace="template :: footer"></div>
	</body>
</html>