<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Insert Header sources from template -->
<head th:replace="template :: sources">
	<title  id="pageTitle">nice!</title>
</head>
	<body>
	<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/items">E-Sell</a>
        </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            <li >
              <a href="#" th:href="@{/items}">Home</a>
            </li>
            <li>
              <a href="#" th:href="@{/items}">Posts</a>
            </li>
            <li>
              <a href="#" th:href="@{/userlist}">Users</a>
            </li>
            </ul>
            
             <ul class="nav navbar-nav navbar-right">
          	<li>
          		<a href="/signin" th:href="@{/sign_in}">Sign In</a>
            </li>
            <li>
              <a href="#" th:href="@{/sign_up}">Sign Up</a>
            </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>





	
		<h1>Excelente!</h1>     
		 <!-- Insert footer template -->
		<div th:replace="template :: footer"></div>
	</body>
</html>