<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<!-- Insert Header sources from template -->
	<head th:replace="template :: sources">
		<title  id="pageTitle">Edit User</title>
	</head>
	<body>
   		<div class="container-fluid">
   			<!-- insert navBar from template -->
			<div th:replace="template :: navBar"></div>
			<h1>Edit user</h1>
			<!-- .. needed to edit user not to create  -->
		    <form action="#" th:action="@{../save_user}" th:object="${user}" method="post">
		    <!-- ID attribute is loaded and hidden from view so we can edit the selected ID and not create a new one -->
		    <input type="hidden" th:field="*{id}" class="form-control"/>
		    	    
		   
		    <div class="form-group">
		    	<label for="firstName">First Name:</label>
		    	<input type="text" class="form-control" id="firstName" autofocus="autofocus" placeholder="Enter your first Name" th:field="*{firstName}" />
		    	<div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Error</div>
		    </div>
		    
		    <div class="form-group">
		    	<label for="lastName">Last Name:</label>
		    	<input type="text" class="form-control" id="lastName" placeholder="Enter your last Name" th:field="*{lastName}" />
		    	<div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Error</div>
		    </div>
		    <div class="form-group">
		    	<label for="email">E-Mail:</label>
		    	<input type="email" class="form-control" id="email" placeholder="email@you.com" aria-describedby="emailHelp" th:field="*{email}" />
		    	<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
		    	<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</div>
		    </div>
		    <div class="form-group">
				<label for="username">Username:</label>
				<input type="text" class="form-control" id="username" placeholder="Enter your username " th:field="*{username}" />
				<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</div>
			</div>
		    <!-- needs to be fixed to not require password on EDIT -->
		    <div class="form-group">
		    	<label for="password">Password:</label>
		    	<input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}"  />
		    	<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</div>
		    </div>
		    
		        <p><input type="submit" value="Submit" class="btn btn-primary" /> <input type="reset" value="Reset" class="btn btn-basic" /></p>
		    </form>
		    <!-- Insert footer template -->
		    <div th:replace="template :: footer"></div>
		</div>	
	</body>
</html>