<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<!-- Insert Header sources from template -->
	<head th:replace="template :: sources">
		<title  id="pageTitle">By Category</title>
	</head>
	<body>
		<div class="container-fluid">
			<!-- insert navBar from template -->
			<div th:replace="template :: navBar"></div>
			<h1 th:text="${category.type}"></h1>
			<table  class="table table-striped">
				<tr th:each ="category : ${category}">
					<td th:text="${category.id}" ></td>				
				</tr>
				<tr>
					<td th:text="${category.items}" ></td>
					
				</tr>
			</table>

	
			<!-- Insert footer template -->
			<div th:replace="template :: footer"></div>
		</div>
	</body>
</html>