<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<!-- Insert Header sources from template -->
	<head th:replace="template :: sources">
		<title  id="pageTitle">Items listed</title>
	</head>
	<body>
		<div class="container-fluid">
			<!-- insert navBar from template -->
			<div th:replace="template :: navBar"></div>
			<!-- takes username and posts it as greeting if its authentificated -->
			<h1 sec:authorize="isAuthenticated()" th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]! </h1>
			<!--<h1>All Items </h1> -->
			<table class="table table-striped table-hover table-responsive">

			  	<tr th:each ="item: ${items}">
			   	<tr class="boldTr"><th>Title </th><td th:text="${item.title}"></td></tr> 
			    <tr><th>Category </th><td th:text="${item.category.type}"></td></tr>
			    <tr><th>Description </th> <td th:text="${item.description}"></td></tr>
			    <tr><th>Condition </th><td th:text="${item.status}"></td></tr>
			    <tr><th>Zipcode </th><td th:text="${item.zipcode}"></td></tr>
			    <tr><th>Price</th><td th:text="${item.price}"></td></tr>
			        

			
			    <td><a class="btn btn-warning center" sec:authorize="hasRole('ADMIN')" th:href="@{/edit_item/{id}(id=${item.id})}">Edit</a></td>
			     <!-- only admin account can delete user -->
			    <td sec:authorize="hasRole('ADMIN')"><a class="btn btn-danger" th:href="@{/delete_item/{id}(id=${item.id})}">Delete</a></td>
		
		
		
			  </tr>
			</table>
		<!-- 	<div style="clear: both; display: block; height: 10px;"> </div>>-->
		 <a  class="btn btn-success" th:href="@{/add_item}">Add an item</a>
		 	<!-- Insert footer template -->
			<div th:replace="template :: footer"></div>
		</div>
	</body>
</html>