<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!-- Insert Header sources from template -->
<head th:replace="template :: sources">
	<title  id="pageTitle">Login to E-Sell</title>
</head>
	<body>
		<div class="container-fluid text-center">
			<!-- insert navBar from template -->
			<div th:replace="template :: navBar"></div>
			<h1>Login to E-Sell</h1>
			<!--takes the URL parameter and matches it according to the request -->
			<div th:if="${param.error}">
				Invalid credentials
			</div>
			<div th:if="${param.logout}">
				Logged out successfully
			</div>
			    <form th:action="@{/login}" method="post" class="login_form">
		            <div class="form-group">
		            	<label> Username : <input type="text" name="username" class="form-control" autofocus="autofocus"/> </label>
		            </div>
		            <div class="form-group">
		            	<label> Password: <input type="password" name="password" class="form-control"/> </label>
		            </div>           
		            <div><input class="btn btn-primary btn-lg" type="submit" value="Sign In"/></div>
		        </form>
		        <a  th:href="@{/sign_up}" class="btn btn-info">Sign Up</a>
			<div th:replace="template :: footer"></div>
		</div>
	</body>
</html>