<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Insert Header sources from template -->
<head th:replace="template :: sources">
	<title  id="pageTitle">Welcome to e-Sell Sign up</title>
</head>

	<body>
		<div class="container-fluid">
			<!-- insert navBar from template -->
			<div th:replace="template :: navBar"></div>
			<h1>Sign up Form </h1>
			<form th:replace="template :: userForm(action='/sign_up')"></form>
			  

		    <!-- Insert footer template -->
		    <div th:replace="template :: footer"></div>
		</div>	     
	</body>
</html>