<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	<title>User List</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
</head>
<body>
<div class="container-fluid">
	<h1>All users </h1>
	<table class="table table-striped">
	  <tr>
	    <th>First Name </th>
	    <th>Last Name </th> 
	    <th>E-Mail </th>
	    <th>Password </th>


	  </tr>
	  <tr th:each = "user: ${users}">
	    <td th:text="${user.firstName}"></td>
	    <td th:text="${user.lastName}"></td>
	    <td th:text="${user.email}"></td>
	    <td th:text="${user.password}"></td>



	  </tr>
	</table>
<!-- 	<div style="clear: both; display: block; height: 10px;"></div>
 <a  class="btn btn-success" th:href="@{/addbook}">Add a Book</a>-->
</div>
	
	
</body>
</html>